body {
    background-image: url(../Recursos/Fondo.jpeg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover; 
    position: relative;  

}

.div-Content a {
    text-decoration: none;
    color: gray;
}

.div-Content a:hover {
    background-color: #9ed033;
}

.div-Content {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    height: 80px;
    background-color: white;
    vertical-align: middle;
}

.div-Content > *:first-child {
    flex-grow: 1;
}

.div-Content > *:not(:first-child) {
    flex-grow: 0;
    margin: 10px;
}

.div-Content2 {
    width: 250px;
    margin-left: 10%;
    margin-top: 10%;
    height: 250px;
    background-color: white;
    padding-left: 30px;
}

.div-Content2 p {
    font-size: small;
}

.button1 {
    margin-top: 10px;
    margin-left: 50px;
    background-color: brown;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
}

.button1 a {
    text-decoration: none;
    color: aliceblue;
}

.green {
    background-color: rgb(79, 128, 60);
    width: 200px;
    height: 30px;
    cursor: pointer;
    font-size: 17px;
    border: none;
    color: aliceblue;
    margin-bottom: 10px;
    text-decoration: none;
}

.green a {
    text-decoration: none;
    color: aliceblue;
}

.red {
    color: brown;
    font-size: x-small;
    margin-top: auto;
}

.div-Content3 {
    width: 200px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 5%;
    height: 250px;
    margin-left: 10%;
}

.div-Content3 button {
    background-color: rgb(79, 128, 60);
    width: 200px;
    height: 30px;
    cursor: pointer;
    font-size: 17px;
}

.div-Content3 a {
    text-decoration: none;
    color: aliceblue;
}

.div-Content4 {
    width: 200px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: -17.82%;
    height: 250px;
    margin-left: 30%;
    margin-right: auto;
}

.div-Content4 button {
    background-color: rgb(79, 128, 60);
    width: 200px;
    height: 30px;
    cursor: pointer;
    font-size: 17px;
}

.div-Content4 a {
    text-decoration: none;
    color: aliceblue;
}

.div-Content5 a {
    text-decoration: none;
    color: aliceblue;
}

.div-Content5 {
    width: 200px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: -17.82%;
    height: 250px;
    margin-left: 50%;
    margin-right: auto;
}

.div-Content5 button {
    background-color: rgb(79, 128, 60);
    width: 200px;
    height: 30px;
    cursor: pointer;
    font-size: 17px;
}

.div-Content6 a {
    text-decoration: none;
    color: aliceblue;
}

.div-Content6 {
    width: 200px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: -17.82%;
    height: 250px;
    margin-left: 70%;
    margin-right: auto;
}

.div-Content6 button {
    background-color: rgb(79, 128, 60);
    width: 200px;
    height: 30px;
    cursor: pointer;
    font-size: 17px;
}

.image6 {
    margin-top: 10%;
    width: 100%;
    height: 100px;
}

.image7 {
    width: 100%;
    height: 100px;
}

.image-container {
    display: flex;
    justify-content: space-between; /* Esto alinea las imágenes distribuyéndolas uniformemente en el espacio disponible */
}

.align-images {
    width: 100px; /* Ajusta el ancho de las imágenes según sea necesario */
    height: 100px; /* Ajusta la altura de las imágenes según sea necesario */
}

.image7 {
    width:10%; /* ajusta este valor según lo pequeña que quieras la imagen */
    height: 40px; /* Esto mantendrá la proporción de aspecto */
}
